<div id="warpForm" class="example-container" dir="rtl">
  <h5>שיעור {{id}}</h5>
    <form >
  
      <mat-form-field appearance="fill">
        <mat-label>הוסף קבצים</mat-label>
        <input matInput  required />
      </mat-form-field>
      <br>
  
      <mat-form-field appearance="fill">
        <mat-label>הוסף מבחן</mat-label>
        <input matInput  required />
      </mat-form-field>
      <br>
      
     
    </form>
  </div>

