<div id="warpForm" class="example-container" dir="rtl">
  <form [formGroup]="createUser" (ngSubmit)="Submit()">

    <mat-form-field appearance="fill">
      <mat-label>שם פרטי</mat-label>
      <input matInput formControlName="user_first_name" required />
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>שם משפחה</mat-label>
      <input matInput formControlName="user_last_name" required />
    </mat-form-field>
    <br>


    <mat-form-field appearance="fill">
      <mat-label>הכנס את הסיסמה</mat-label>
      <input matInput [type]="isHide ? 'password' : 'text'" formControlName="user_password" required />
      <button mat-icon-button matSuffix (click)="isHide = !isHide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{isHide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <br />

    <mat-form-field appearance="fill" *ngIf="!isEdit">
      <mat-label>הכנס כתובת דוא"ל</mat-label>
      <input formControlName="user_mail" matInput placeholder="pat@example.com"  required />
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <br />

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>בחר תאריך לידה</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="born_date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
    </mat-form-field>
    <br />

    <div class="example-button-row">
      <button type="submit" mat-raised-button color="basic">אישור</button>
    </div>
  </form>
</div>