.example-container {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  color: black !important;
  margin: 30px auto;
  border: 1px solid #333;
  padding: 20px;
  border-radius: 5px;
  text-align: right;
  -webkit-box-shadow: 7px 10px 43px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 10px 43px -12px rgba(0,0,0,0.75);
  box-shadow: 7px 10px 43px -12px rgba(0,0,0,0.75);
}

::ng-deep .mat-focused .mat-form-field-label {
  color: black !important;
  font-family:'Segoe UI';
 }


.mat-form-field-underline {
  background-color: black !important;
}

.mat-focused .mat-form-field-label {
color: black !important;
}



.mat-form-field-ripple {
background-color: black !important;;
}

.example-full-width {
  /* width: 100%;
  display:block; */
}
.example-button-row button,
.example-button-row a {
margin-right: 8px;
}
.mat-raised-button
{
  background-color: #ffab5c;
  font-family: 'Segoe UI';
}

  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI';
}
 

