mat-slider {
   width: 300px;
  }

  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color:white;
  }


    ::ng-deep .mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label, .mat-accent .mat-slider-track-fill {
    background-color: black;
    }
    while the following version of the code actually works and overrides effectively the values set in the theme css
    ::ng-deep .mat-accent .mat-slider-thumb {
    background-color: black;
    }
    ::ng-deep .mat-accent .mat-slider-thumb-label {
    background-color: black;
    }
    ::ng-deep .mat-accent .mat-slider-track-fill {
    background-color: #ffab5c;
    }

    