<form [formGroup]="addFeedback" (ngSubmit)="onSubmit()">

  <div class="example-container">

    <mat-form-field appearance="fill">
      <mat-label>קורס</mat-label>
      <mat-select formControlName="course_id">
        <mat-option *ngFor="let course of courseName" [value]="course.id">{{course}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>הערה</mat-label>
      <textarea matInput formControlName="comment"></textarea>
    </mat-form-field>
    
    <br />
    <mat-label>דרוג</mat-label>
    <mat-slider formControlName="mark" thumbLabel [displayWith]="formatLabel" tickInterval="1000" min="1" max="10000">
    </mat-slider>
  </div>

</form>