#headerWarp{
    /* width: 95%; */
    /* position: fixed; */
    /* display: block; */
    /* color: black; */
    /* font-family:'Segoe UI'; */
     
}
.hello-user{
  flex-grow: 2;
  font-size: 18px;
  font-weight: bold;
}

.row{
  display: flex;
  align-items: center;
  padding: 0 20px
}
.main-menu{
  padding: 20px;
}
.mat-chip:hover{
  -webkit-box-shadow: 6px 6px 40px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 40px -13px rgba(0,0,0,0.75);
  box-shadow: 6px 6px 40px -13px rgba(0,0,0,0.75);
}

h2{
  text-align: center;
  font-size: xx-large;
}

.logo{
  width: 140px;
  object-fit: contain;
}

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.mat-chip{
  background-color: white;
  text-decoration-line: none;
  display: inline;
}

body{
  margin: 20px;
  background: #f4f4f6;
}

