<div id="headerWarp" dir="rtl">

    <div class="row">

        <img  src="assets/lishkod-logo.png"  alt="לשקוד" class="logo">
    <!-- <div class="wSrapper"> -->
        <!-- <div ><img style="max-width: 11vw;min-width:17vh; float: left;"  src="../../assets/lishkod-logo.png"  alt="לשקוד"></div> -->

        <div *ngIf="login" class="hello-user">
            <p>שלום {{currentUser.user_first_name}}</p>
        </div>
        <mat-chip *ngIf="login"><a routerLink="login" (click)="logOut()">יציאה</a></mat-chip>

<!-- 
        <div *ngIf="!login">
            <h2>ברוכים הבאים!</h2>
        </div> -->
    </div>
    <div class="main-menu">
        <mat-chip-list>
            <div *ngIf="!login">
                <mat-chip><a routerLink="signUp">משתמש חדש</a></mat-chip>
                <mat-chip><a routerLink="login">כניסה</a></mat-chip>
                
            </div>
        </mat-chip-list>

        
        <div *ngIf="login">
            <app-menu [menuList]="menu"></app-menu>
        </div>
    </div>
    </div>