<h2>ניהול מרצים</h2>
<mat-button-toggle-group #group="matButtonToggleGroup">
    <mat-button-toggle value="add" aria-label="add lecturer">
        <mat-label>הוסף מרצה</mat-label>
    </mat-button-toggle>
    <mat-button-toggle value="remove" aria-label="rempve lecturer">
        <mat-label>הסר מרצה</mat-label>
    </mat-button-toggle>
</mat-button-toggle-group>

<div class="example-selected-value">Selected value: {{group.value}}</div>

<form [formGroup]="managementLecturersForm" (ngSubmit)="Submit()">
    <mat-form-field appearance="fill" *ngIf="group.value=='remove'">
        <mat-label>מרצה</mat-label>
        <mat-select formControlName="lecturer">
            <mat-option *ngFor="let lect of lecturerArr" [value]="lect.user.user_id">{{lect.user.user_first_name}}</mat-option>
        </mat-select>
    </mat-form-field>


    <mat-form-field appearance="fill" *ngIf="group.value=='add'">
        <mat-label>משתמש</mat-label>
        <mat-select formControlName="user">
            <mat-option *ngFor="let u of usersArr" [value]="u.user_id">{{u.user_first_name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <br/>
     <button type="submit" mat-raised-button color="basic">אישור</button>
</form>