<mat-list role="list" *ngFor="let course of courses">
    <mat-list-item role="listitem">{{course.course.course_name}}    מרצה:  {{course.lecturer.user_last_name}}   {{course.lecturer.user_first_name}}</mat-list-item>
  </mat-list>
