<div id="warpForm" class="example-container" dir="rtl">
  <form [formGroup]="addCourse" (ngSubmit)="Submit()">

    <mat-form-field appearance="fill">
      <mat-label>שם הקורס</mat-label>
      <input matInput formControlName="course_name" />
    </mat-form-field>
    <br />

    <mat-form-field appearance="fill">
      <mat-label>שפה</mat-label>
      <mat-select formControlName="course_language" (ngModelChange)="onLanguageChange($event)">
        <mat-option *ngFor="let lang of languages" [value]="lang.language_id">{{lang.language_name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field appearance="fill">
      <mat-label>נושא</mat-label>
      <mat-select formControlName="subject_id" [disabled]="!selectLanguage" (ngModelChange)="onSubjectChange($event)">
        <mat-option *ngFor="let sub of subjects" [value]="sub.subject_id">{{sub.subject_name}}</mat-option>
        <mat-option [value]="-1"> הוסף +</mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <form [formGroup]="addSubjectForm" style="background-color:lightgray;" *ngIf="addSubject" (ngSubmit)="addSubjectSubmit()">
      <h5>הוספת נושא</h5>
      <mat-form-field appearance="fill">
        <mat-label>נושא</mat-label>
        <input matInput  formControlName="subject_name"/>
      </mat-form-field>
      <br />
  
      <label>נושא ראשי</label>
      <mat-slide-toggle formControlName="subSubject" >תת נושא</mat-slide-toggle>
      <br />

      <mat-form-field appearance="fill" *ngIf="addSubjectForm.value.subSubject">
        <mat-label>נושא אב</mat-label>
        <mat-select formControlName="parent_id">
          <mat-option *ngFor="let sub of subjects" [value]="sub.subject_id">{{sub.subject_name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <button type="submit" mat-raised-button color="basic">אישור</button>
    </form>


    <app-add-lesson *ngFor='let less of lessons' [id]="less.index"></app-add-lesson>

    <button type="button" mat-raised-button color="basic" (click)="addLesson()">הוסף שיעור</button>

    <br />
    <button type="submit" mat-raised-button color="basic">אישור</button>
  </form>
</div>


