::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color:rgb(131 131 131);
}
::ng-deep.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: white;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: white;
    color: black;
}

.mat-slide-toggle.mat-checked .mat-disabled .mat-slide-toggle-thumb .mat-slide-toggle-thumb-container{
    background-color: #000;
}