
<div id="warpForm" class="example-container" dir="rtl">
    <h3>טופס בקשה להצטרפות כמרצה</h3>

    <form [formGroup]="newLecturer" (ngSubmit)="Submit()">

      <p>הכנס מספר זהות</p>
      <mat-form-field appearance="fill">
        <mat-label>מספר זהות</mat-label>
        <input matInput formControlName="id" required />
      </mat-form-field>
      <br>
      
   <p>איזו תעודה יש לך?</p>
      <mat-form-field appearance="fill">
        <mat-label>תעודה</mat-label>
        <input matInput formControlName="degree" required />
      </mat-form-field>
      <br>
  
      <p>היכן רכשת את השכלתך?</p>
      <mat-form-field appearance="fill">
        <mat-label>מוסד לימודים</mat-label>
        <input matInput formControlName="educational_institution" required />
      </mat-form-field>
      <br>
  
      
  <p>כתובת דוא"ל לחזרה</p>
      <mat-form-field appearance="fill" *ngIf="!isEdit">
        <mat-label>כתובת דוא"ל</mat-label>
        <input formControlName="user_mail" matInput placeholder="pat@example.com"  required />
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <br />
  
      <p>באילו תחומים אתה מתמחה?</p>
      <mat-form-field appearance="fill">
        <mat-label>תחומי התמחות</mat-label>
        <textarea matInput formControlName="expertise_areas"></textarea>
      </mat-form-field>

      <p>הערות נוספות</p>
      <mat-form-field appearance="fill">
        <mat-label>הערות</mat-label>
        <textarea matInput formControlName="comments"></textarea>
      </mat-form-field>
  
      <div class="example-button-row">
        <button type="submit" mat-raised-button color="basic">שלח בקשה</button>
      </div>
    </form>
  </div>