<div id="warpMail" dir="rtl">
    <h1>בקשה להצטרפות כמורה</h1>
    <h4>פרטי מגיש הבקשה</h4>
    <p>מספר זהות:</p>
    <p>{TZ}</p>
    <p>שם פרטי:</p>
    <p>{FN}</p>
    <p>שם משפחה:</p>
    <p>{LN}}</p>
    <p>כתובת מייל:</p>
    <p>{MAILL}</p>
    <p>תאריך לידה:</p>
    <p>{BD}</p>
    <p>מוסד לימודים:</p>
    <p>{EI}</p>
    <p>תעודה</p>
    <p>{DEG}</p>
    <p>תחומי התמחות:</p>
    <p>{EXPER}</p>
    <p>הערות:</p>
    <p>{COM}</p>
</div>