<div id="warpDivSubjects">

<mat-tree *ngIf="language" [dataSource]="dataSource" [treeControl]="treeControl">

  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding (click)="onSubjectClick(node.item.subject_id)">
    <button mat-icon-button disabled></button>
    {{node.item.subject_name}} 
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding (click)="onSubjectClick(node.item.subject_id)">
    <button mat-icon-button [attr.aria-label]="'toggle ' + node.filename" matTreeNodeToggle>

      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
      
    </button>
    {{node.item.subject_name}}
  </mat-tree-node>

</mat-tree>

<app-courses-menu  [curSubjsctId]="curSubjectId"></app-courses-menu>
</div>
