.header{
    display: block;
    position: fixed;
    top:0;
    background-color: #ffab5c;
    /* height: 115px; */
    color: black;
    font-family:'Segoe UI';
    /* padding: 20px; */
    -webkit-box-shadow: inset 0px 0px 40px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 40px -13px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 40px -13px rgba(0,0,0,0.75);
}
app-header{
    width: 100%;
}
.body{
    margin-top: 158px;
    /* margin: 2rem; */
    /* width: 70%; */
   /* text-align: center; */

}