<!-- <div class="header"> -->
<app-header class="header"></app-header>
<!-- </div> -->
<div class="body" dir="rtl">
 <router-outlet></router-outlet>
</div>
<!-- <app-trying></app-trying> -->
<!-- <ifream href="https://remisharrock.fr/sysbuild/#/VM"> -->
   <!-- <iframe src="https://remisharrock.fr/sysbuild/#/VM" width="100%" height="300"> -->
   <!--<iframe src="https://www.onlinegdb.com" width="100%" height="1000"  style="margin: 10vw;"> -->
   <!-- <iframe src="https://www.onlinegdb.com" width="100%" height="1000"  style="margin: 10vw;"> -->
   <!-- <iframe src="https://repl.it/languages/python3" width="100%" height="1000"  style="margin: 10vw;"> -->

    <iframe width="100%" height="475" src="https://dotnetfiddle.net/Widget/rEsllH" frameborder="0"></iframe>