<div id="loginWarp" dir="rtl">
    <h1 class="welcome">ברוכים הבאים</h1>
    <form [formGroup]="login" (ngSubmit)="Submit()" >
        
        <mat-form-field class="example-full-width"> 
            <mat-label>שם פרטי</mat-label>
            <textarea matInput placeholder="שם פרטי" formControlName="firstName"></textarea>
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
            <mat-label>שם משפחה</mat-label>
            <textarea matInput placeholder="שם משפחה" formControlName="lastName"></textarea>
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
            <mat-label>סיסמה</mat-label>
            <input matInput placeholder="סיסמה"   [type]="hide ? 'password' : 'text'" formControlName="pass">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <div class="example-button-row">
            <button type="submit" mat-raised-button color="basic" >אישור</button>
          </div>  
            
    </form>
    <router-outlet></router-outlet>
</div>
