
#loginWarp
{
    position: relative;
    /* top:16vh; */
    padding: 20px;
    padding-top: 10vh;
    /* width: 100%; */
    margin: auto;
    text-align: center;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    color: black !important;
  }

  ::ng-deep .mat-form-field{
   max-width: 300px;
   margin: auto;
}

  ::ng-deep .mat-form-field-empty.mat-form-field-label {
    color:black !important;
    font-family:'Segoe UI';
}



::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: black !important;
  font-family:'Segoe UI';
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: black !important;
} 

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: black !important;
}
  
  .example-full-width {
    width: 100%;
    display:block;
    font-family:'Segoe UI';
    
  }

.example-button-row button,.example-button-row a {
  margin-right: 8px;
}

::ng-deep .mat-raised-button
{
  background-color: #ffab5c;
}

 