<div id="languageWarperDiv">

<mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection" >
    <mat-chip *ngFor="let lang of languagesArr" (click)="chooseLanguageFunc(lang.language_id)">
      {{lang.language_name}}
    </mat-chip>
  </mat-chip-list>

</div>
<!-- <div *ngIf="true"> -->
  <!-- <iframe src="https://drive.google.com/file/d/1R9HwUeSJmn0L46A8VwASo8UGdrzlSqyg/view"/> -->
<!-- </div> -->
<div  class="subjects_tree">
  <app-subject-menu  [language]="chooseLanguage"></app-subject-menu>
</div>

