 .mat-chip {
    /* width: 200px; */
    font-size: 16px;
    border-radius: 2px;
    padding: 20px;
    background-color: white;
  }
  
#languageWarperDiv
{
   display: inline-block;
   background-color: #eee;
   padding: 15px;
    /* padding: 5vw;
    height: 60%;
   width: 40%;
   position:inline-flex;
   display: inline-block;
   float: left; */
}

.subjects_tree{
   /* position:inline-flex; */
   /* float:right; */
   /* width: 5vw; */
   display: inline-block;
}