/* You can add global styles to this file, and also import other style files */

 /* html, body { height: 100%;} */
body {
     margin: 0;
     /* font-family:'Calibri'; guttman kav*/
     font-family: 'Segoe UI';
     }
.mat-chip{
    background-color: white;
  
  }
  
  a{
    color: black;
    text-decoration-line: none;
  }

 